* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.accordion {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.accordion-item {
  border-bottom: 1px solid #ccc;
}
.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}
.accordion-content {
  display: none;
}
